<div class="centrado3">
    <h2>Aportes ALDEA</h2>
    <table id="tblAdmin" border="1" align="center">
        <tr align="center"></tr>
    </table>
</div>

    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="modal" class="modal-header">
                    <button id="btncierremodal" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="txmodel">Modificar valores informativos</h4>
                </div>
                <div class="modal-body" id="centeredmodal">
                    <label id="labelh"></label>
                    <label class="labelLeyenda">Descripción</label>
                    <input type="text" id="DescripcionInfo" class="form-control" maxlength="250" required>
                    <label class="labelLeyenda">Valor</label>
                    <input type="number" id="Valor" value="" min="0" class="form-control" maxlength="4" required>
                </div>
                <div id="modal" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" id="btnModificarInfo" class="btn btn-primary" data-dismiss="modal" onClick="window.location.reload()">Guardar cambios</button>
                </div>
            </div>

        </div>
    </div>
    <div id="myModal2" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div id="modal" class="modal-header">
                    <button id="btncierremodal" type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title" id="txmodel">Eliminar parámetro informativos</h4>
                </div>
                <div class="modal-body" id="centeredmodal">
                    <h1>¿Está seguro de eliminar este parámetro?</h1>
                    <label id="labelh3"></label>
                </div>
                <div id="modal" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" id="btnEliminarParametro" class="btn btn-primary" onClick="window.location.reload()">Eliminar</button>
                </div>
            </div>

        </div>
    </div>
<div id="myModal3" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div id="modal" class="modal-header">
                <button id="btncierremodal" type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="txmodel">Agregar parámetro</h4>
            </div>
            <div class="modal-body" id="centeredmodal">
                <label id="labelh"></label>
                <label class="labelLeyenda">Descripción</label>
                <input type="text" id="DescripcionInfo" class="form-control" maxlength="250" required>
                <label class="labelLeyenda">Valor</label>
                <input type="number" id="Valor" value="" min="0" class="form-control" maxlength="4" required>
            </div>
            <div id="modal" class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" id="btnAgregarInfo" class="btn btn-primary" data-dismiss="modal" onClick="window.location.reload()">Guardar cambios</button>
            </div>
        </div>

    </div>
</div>
<script>
    //Tabla
      $(document).ready(function () {

        $.ajax({
                url: '@Url.Action("TraerInformacionAdmin", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                error: function (response, status, error) {
                    console.log(error);
                },
                success: function (respuesta) {
                    var cadena = "";
                    cadena = '<tr><th>Clase de asociado</th><th> Valor de aporte (En COP) </th><th><button class="ui-button ui-widget ui-corner-all" id="btnAgregarParametro" value="" data-toggle="modal" data-target="#myModal3"><img src="/Content/ImagesOwner/btn_add.png" /></button></th>';
                    $.each(respuesta, function (index, value) {
                        cadena = cadena + '<tr data-toggle="modal" data-id=' + value.IdParametros + '" data-target="">' + '<td>' + value.Descripcion + '</td>'
                            + '<td>' + value.Valor + '</td>' + '<td> <button id="Modal_proyecto" data-toggle="modal"  onclick="prueba(' + value.IdParametros + ')" data-target="#myModal"  data-id=' + value.IdParametros +
                            '> <img src="/Content/ImagesOwner/gtk_edit (1).png" /></button><button id="Modal_proyecto2" data-toggle="modal"  onclick="prueba2(' + value.IdParametros + ')" data-target="#myModal2"><img src= "/Content/ImagesOwner/if_Remove_27874.png" /></button></td ></tr> ';
                    });

                    
                    $("#tblAdmin").empty();
                    $("#tblAdmin").append(cadena);
                    MostrarBotones();
                },

                beforeSend: function () {
                    console.log("Se enviara");
                },
                complete: function () {
                    console.log("Termino");
                }
            });


          });

    //Eliminar parametro
    $("#btnEliminarParametro").click(function () {
        var modal = $('#myModal2')
        $.ajax({
            url: '@Url.Action("EliminarParametro", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                data: {
                    "id": modal.find('.modal-body #labelh3').text() },
                error: function (response, status, error) {
                    console.log(error);
                },
                success: function (respuesta) {
                    var cadena = "";

                    alert(respuesta);
                    MostrarBotones();
                },
                beforeSend: function () {
                    console.log("Se enviara");
                },
                complete: function () {
                    console.log("Termino");
                }
            });
    });
    //Agregar Parametro
        $("#btnAgregarInfo").click(function () {
        var modal = $('#myModal3')
        $.ajax({
                url: '@Url.Action("CrearParametro", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                data: {
                   "Descripcion": modal.find('.modal-body #DescripcionInfo').val(), "Valor": modal.find('.modal-body #Valor').val()
                },
                error: function (response, status, error) {
                    console.log(error);
                },
                success: function (respuesta) {
                    var cadena = "";

                    alert(respuesta);
                    MostrarBotones();
                },
                beforeSend: function () {
                    console.log("Se enviara");
                },
                complete: function () {
                    console.log("Termino");
                }
            });
    });
    //Modificar Parametros
    $("#btnModificarInfo").click(function () {
        var modal = $('#myModal')
        $.ajax({
                url: '@Url.Action("ActualizarParametro", "Home")',
                type: 'POST',
                async: true,
                dataType: "json",
                data: {
                    "id": modal.find('.modal-body #labelh').text(), "Descripcion": modal.find('.modal-body #DescripcionInfo').val(), "Valor": modal.find('.modal-body #Valor').val()
                },
                error: function (response, status, error) {
                    console.log(error);
                },
                success: function (respuesta) {
                    var cadena = "";

                    alert(respuesta);
                    MostrarBotones();
                },
                beforeSend: function () {
                    console.log("Se enviara");
                },
                complete: function () {
                    console.log("Termino");
                }
            });
        });

</script>

