<div id="usertable">
    <h2>Usuarios</h2>
    <input type="text" id="txtUsuario" onkeyup="BuscarUsuario()" placeholder="Búsqueda por nombre">
    <table id="tbl" border="1" align="center">
        <tr align="center"></tr>
    </table>
</div>
